.dropdown {
    margin-left: 35px;
    margin-right: auto;
    user-select: none;

    @include tablet() {
        margin: 0;
        margin-bottom: 35px;
    }
}

.dropdown-container {
    position: relative;
    width: 300px;
    @include font(16px, 400);
  }
  
  .dropdown-toggle {
    position: relative;
    padding: 10px 15px;
    border: 1px solid var(--grey-shade);
    border-radius: 7px;
    @include font(16px, 400);
    font-style: normal;
    line-height: 24px;
    color: var(--grey-dark);
    cursor: pointer;
    background-color: var(--bg-main);
    transition: all ease-in-out 0.3s;
  }
  
  .dropdown-toggle:hover, .dropdown-toggle:active, .dropdown-toggle:focus {
    border-color: var(--primary-main);
    color: var(--grey-shade2);
  }
  
  .dropdown-menu {
    position: absolute;
    left: -1px;
    display: none;
    width: 300px;
    padding: 10px 0;
    border: 1px solid var(--grey);
    border-radius: 7px;
    background-color: var(--bg-main);
    z-index: 10;
    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
  }
  
  .dropdown-group {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
  }
  
  .dropdown-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    line-height: 24px;
    text-decoration: none;
    color: var(--dark);
    @include font(16px, 400);
    font-style: normal;
    background-color: var(--dropdown-item);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  
  .dropdown-item:hover, .dropdown-item:active, .dropdown-item:focus {
    background-color: var(--primary-light);
    color: var(--grey-shade2);
  }
  
  .dropdown-menu, .dropdown-toggle {
    position: relative;
  }
  
  .dropdown-toggle::before {
    content: "";
    position: absolute;
    right: 23px;
    top: 42%;
    width: 12px;
    height: 12px;
    background: url("img/angle.svg") no-repeat center center;
    margin-top: -2.5px;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out 0.2s;
  }
  
  .dropdown-menu {
    position: relative;
    z-index: 20;
  }
  
  .dropdown-open .dropdown-menu.dropdown-active {
    position: absolute;
    display: block;
  }
  
  .dropdown-open .dropdown-toggle {
    border-color: var(--primary-main);
    z-index: 999;
    color: var(--grey-shade2);
  }
  
  .dropdown-open .dropdown-toggle:before {
    transform: rotate(-180deg);
  }